/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* devanagari */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* devanagari */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*===========CSS RESET END=============*/
/*===========COMMON START=============*/
*,
::before,
::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
}

img {
  max-width: 100%;
  display: block;
}

body{
    font-family: Poppins;
    background: #fff;
}

.container{
    width: 1340px;
    margin: 0 auto;
}


.logo{
    margin-top: 57px;
    line-height: 54px;
    font-size: 36px;
}

.logo>span{
    color: #8F95A5;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.nav {
    margin-top: 71px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 30px;
    color: #263238;
}

.nav a:focus-within,
.nav a:hover {
    text-decoration: underline;
  }

.navbar>.btn{
    border-radius: 5px;
    border: 2px solid #263238;
    color: #263238;
    background: white;
    min-height: 70px;
    min-width: 220px;
    font-size: 24px;
    margin-top: 55px;
}

.navbar>.btn:hover,
.navbar>.btn:focus-within{
    border: white;
    background-color: #263238;
    color: white;
    transition: 250ms linear;
}

.promo {
    margin-top: 51px;    
}

.promo-block{
  background: url(../icons/girl.svg) no-repeat right;
  margin-top: 115px;
}

.text{
  width: 550px;
}

h1{
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    background: url(../icons/Group.svg) no-repeat;
    background-position: 424px 111px
}

.section-h2{
    margin-top: 40px;
    font-size: 24px;
    font-weight: 400;
    color: #8F95A5;
    line-height: 36px;
}


.btn{
    cursor: pointer;
    background:#263238;
    font-weight: 400;
    font-size: 36px;
    color: white;
    margin-top: 61px;
    border-radius: 15px;
    min-height: 118px;
    min-width: 438px;
}

.btn:focus-within,
.btn:hover{
    border: #263238;
    border: 2px solid #263238;
    background-color: white;
    color: #263238;
    transition: 250ms linear;
}

.skills{
    margin-top: 147px;
}

.section-header{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 48px;
}

.cards{
    margin-top: 96px;
    display: flex;
    gap: 18px;
    justify-content: center;
}

.card {
    padding: 45px;
    height: 894px;
    width: 435px;
    background-color:#F5F5F5;
}



.small-header{
    margin-top: 39px;
    justify-content: left;
    font-size: 30px;
    color: #263238;
}


.card-text{
    display: block;
    color:#8F95A5;
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width: 355px;
}


.cardbtn{
  margin-top: 46px;
    margin-bottom: 92px;
    min-height: 27px;
    min-width: 103px;
    padding: 17px 63px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
}


.horizontal-section1{
    display: flex;
    gap: 18px;
}

.hs1card{
    position: relative;
    padding: 41px;
    width: 434px;
    height: 531px;
}

.hs1card1>img{ 
    position: absolute;
    top: 4px;
    right: 19px;
    bottom: 242px;
    left: 122px;
    
}

.hs1card2>img{
    position: absolute;
    left: 1px;
    top: 9px;
    right: 63px;
    bottom: 276px;
}

.hs1card2{
    padding: 38px;
}

.hs1card>.section-header{
    margin-top: 251px;
}

.hs1card>.card-text{
    margin-top: 10px;
}

.hs1card>.btn{
    margin-top: 25px;
    margin-bottom: 44px;
}

.hs2card1{
    position: relative;
    padding: 43px 48px;
    width: 885px;
    height: 343px;
}

.horizontal-section2{
    margin-top: 20px;
}

.hs2card1>img{
    position: absolute;
    right: 25px;
    top: 44px;
    bottom: 44px;
    left: 478px;
}

.hs2card1>.btn{
    margin-top: 25px;
    margin-bottom: 68px;
}


.about{
  margin-top: 252px;
}


.about-block{
  display: flex;
  background:url(../icons/about.svg)  no-repeat right;
}

.about-text-block{
  width: 635px;
}

.about-main>.section-header{
  justify-content: normal;
}

.block-text{
  display: block;
  margin-top: 35px;
  font-size: 20px;
  line-height: 30px;
}



.numbers{
  display: flex;
  justify-content: space-between;
}

.numbers-center{
  display: flex;
  justify-content: center;
}

.numbers-header{
  color: #2A3246;
  font-size: 48px;
  font-weight: 600;
}

.numbers-text{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 20px;
}


.pricing{
  margin-top: 223px;
}
.prices{
  display: flex;
  gap: 40px;
  margin-top: 71px;
}

.live{
  margin-top: 34px;
}

.personal{
  margin-top: 5px;
}
.personal>.per-mounth{
  margin-top: 59px;
}
.live>.per-mounth{
  margin-top: 59px;
}
.price-block{
  display: flex;
  flex-wrap: wrap;
  width: 418px;
}


.per-mounth{
  align-items: center;
  margin-top: 30px;
  background: #EEEEEE;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  width: 240px;
  height: 45px;
  display: flex;
  padding: 8px 18px;
  gap: 8px;
  font-weight: 400;
  font-size: 30px;
  min-width: 0;
  min-height: 0;
}

.per-mounth:hover,
.per-mounth:focus-within{
  transition: 250ms liner;
  background-color: white;
  border: 1px solid #263238;
  transition: 250ms linear
}

.per-mouth-price{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.per-mounth-text{
  align-items: center;
  color: #546269;
  margin-top: 0px;
  font-size: 18px;
}



.contact{
  margin-top: 290px;
}

.contact-block{
  display: flex;
  justify-content: right;
  background: url(../icons/contact.svg) no-repeat left
}
.contact-header{
  margin-top: 44px;
  justify-content: left;
}

.contact-us{
 width: 776px;
}

.form-block{
  margin-top: 50px;
  display: flex;
  gap: 12px;
}

.contactbtn{
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  width: 264px;
  height: 80px;
  font-weight: 500;
  padding: 21px 85px;
}

.form{
  display: flex;
  align-items: center;
  width: 450px;
  height: 80px;
  border: 1px solid #8F95A5;
  border-radius: 10px;
  padding: 28px;
  margin-top: 0px;
}

.form-input{
  font-family: Poppins;
  width: 384px;
  height: 40px;
  border: none
}

.line{
  margin-top: 165px;
  border: none;
  background: #C4C4C4;
  height: 1px;
}

.footer{
  margin-top: 31px;
}

.footer-logo{
  margin-top: 0px;
}

.footernav{
  margin-top: 0px;
  margin-bottom: 58px;
}